.a-alert {
    position: fixed;
    padding: 20px;
    background-color: #383F52;
    color: $white;
    font-size: 18px;
    line-height: 28px;
    border-radius: 10px;
    z-index: 99;
    cursor: pointer;
    opacity: 1;
    display: flex;
    align-items: center;

    &.-default {
        background-color: #383F52;
    }

    &.-success {
        background-color: #00bf9c;
    }

    &.-error {
        background-color: #FF5E5A;
    }

    &.-center {
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    &.-right {
        top: 50px;
        right: 10%;
    }

    svg {
        margin-right: 10px;
    }
}
