.a-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    margin-top: 0;

    &:not(:last-of-type) {
        margin-bottom: 15px;
        margin-right: 10px;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;

        &:checked {
            & + label {
                &::before {
                    background-color: $primary-color;
                    border-color: $primary-color;
                }
            }
        }
    }

    label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-size: 13px;
        line-height: 16px;

        @include media-up(m) {
            &::before {
                width: 20px;
                min-width: 20px;
                height: 20px;
            }
        }

        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            min-width: 18px;
            height: 18px;
            margin-right: 10px;
            border: 1px solid $gray-10;
            border-radius: 3px;
            background-image: url(../../../images/checkWhite.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-color: $white;
            transition: background-color 0.3s, border-color 0.3s;
        }
    }
}
